:root {
    --accent: #ff3fa6;
    --accent-2: #7950f2;
    --glass: rgba(255,255,255,0.07);
    --glass-2: rgba(255,255,255,0.03);
    --text: #f7f7fb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    font-family: Inter, system-ui, sans-serif
}

body {
    background-image: url('../images/login_bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}
#togglePwd {
    position: absolute;
    right: 12px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    opacity: 0.8;
}
.ncard {
    width: 100%;
    max-width: 1100px;
    height: 600px;
    display: flex;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

.left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(0,0,0,0.15);
}

.right {
    width: 40%;
    padding: 50px;
    position: relative;
    color: #fff;
   
   
}

.curve {
    position: absolute;
    left: 0;
    top: 0;
    width: 160%;
    height: 74%;
    opacity: 0.8;
    z-index: -1;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px
}

.logo {
    width: 54px;
    height: 54px;
    border-radius: 12px;
    background: linear-gradient(135deg, #152da7, #005d71);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700
}

.brand h1 {
    font-size: 20px;
    margin: 0
}

.brand p {
    margin: 0;
    font-size: 13px;
    color: rgba(255,255,255,0.7)
}

form {
   margin-top:90px;
}

label {
    display: block;
    font-size: 13px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 4px
}

.input {
    width: 100%;
    padding: 9px 11px;
    border-radius: 3px;
    background: rgb(255 255 255);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #000000;
    font-size: 14px;
    margin-bottom: 12px;
    transition: 0.25s;
}

    .input:focus {
        border-color: var(--accent-2);
        box-shadow: 0 4px 14px rgba(121,80,242,0.25);
    }

.btn {
    margin-top: 6px;
    padding: 10px 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #152da7, #005d71);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
}

    .btn:hover {
        opacity: 0.9
    }

.help {
    margin-top: 14px;
    font-size: 13px;
    color: rgba(255,255,255,0.75);
    display: flex;
    justify-content: space-between
}

.right a {
    color: #fff;
    text-decoration: underline;
    font-size: 13px
}

.illustration {
    max-width: 85%;
    height: auto;
}

.credits {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 12px;
    color: rgba(255,255,255,0.6)
}

@media(max-width:900px) {
    .card {
        flex-direction: column;
        height: auto
    }

    .left {
        display: none !important;
    }

    .right {
        width: 100% !important;
        padding: 30px
    }
}



