@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
    var userTypeId = 0;
    var empId = 0;
    var name = string.Empty;
    var profilpic = string.Empty;
    var shortName = string.Empty;
    var claims = HttpContextAccessor?.HttpContext?.User.Claims.ToList();
    if (claims?.Count > 0)
    {
        userTypeId = Convert.ToInt32(claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value);
        name = claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
        empId = Convert.ToInt32(claims.FirstOrDefault(c => c.Type == "EmployeeId")?.Value);
        profilpic = claims.FirstOrDefault(c => c.Type == "ProfilePic")?.Value;
        shortName = string.Join("", name
           .Split(' ', StringSplitOptions.RemoveEmptyEntries)
           .Select(w => w[0]))
           .ToUpper();
    }
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - DRCTS-Payroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- selectr -->
   <link href="~/assets/libs/mobius1-selectr/selectr.min.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
    <!-- Datatables -->
   <link href="~/assets/css/datatables.min.css" rel="stylesheet" asp-append-version="true" /> 
   <link href="~/assets/css/buttons.datatables.min.css" rel="stylesheet" asp-append-version="true" />
   <link href="~/assets/libs/tabulator-tables/css/tabulator_bootstrap5.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- Calendar -->
    <link href="~/assets/libs/fullcalendar/main.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/assets/css/punch-in-notification.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/assets/css/loader.css" rel="stylesheet" asp-append-version="true" />
</head>

<body id="body">
    <!-- leftbar-tab-menu -->
    <div class="leftbar-tab-menu">
        <div class="main-icon-menu">
            <a href="index.html" class="logo logo-metrica d-block text-center">
                <span>
                    <img src="~/assets/images/logos/drcts_logo.png" alt="logo-small" class="logo-sm">
                </span>
            </a>
            <div class="main-icon-menu-body">
                <div class="position-reletive h-100" data-simplebar style="overflow-x: hidden;">
                    <ul class="nav nav-tabs" role="tablist" id="tab-menu">
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" data-bs-trigger="hover">
                            <a href="#DrctsDashboard" id="dashboard-tab" class="nav-link">
                                <i class="ti ti-smart-home menu-icon"></i>
                            </a><!--end nav-link-->
                        </li><!--end nav-item-->
                        @if (userTypeId == 1)
                        {
                            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Master" data-bs-trigger="hover">
                                <a href="#DrctsMaster" id="apps-tab" class="nav-link">
                                    <i class="ti ti-apps menu-icon"></i>
                                </a><!--end nav-link-->
                            </li> <!--end nav-item-->
                        }
                        else
                        {
                            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Attendance" data-bs-trigger="hover">
                                <a href="#DrctsAttendance" id="uikit-tab" class="nav-link">
                                    <i class="ti ti-files menu-icon"></i>
                                </a><!--end nav-link-->
                            </li><!--end nav-item-->

                            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Payroll" data-bs-trigger="hover">
                                <a href="#DrctsPayroll" id="pages-tab" class="nav-link">
                                    <i class="ti ti-shield-lock menu-icon"></i>
                                </a><!--end nav-link-->
                            </li><!--end nav-item-->
                        }
                        @if (userTypeId == 1)
                        {
                            <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Report" data-bs-trigger="hover">
                                <a href="#MetricaAuthentication" id="authentication-tab" class="nav-link">
                                    <i class="ti ti-report-analytics menu-icon"></i>
                                </a><!--end nav-link-->
                            </li><!--end nav-item-->
                        }
                    </ul><!--end nav-->
                </div><!--end /div-->
            </div><!--end main-icon-menu-body-->
           @*  <div class="pro-metrica-end">
                <a href="#" class="profile">
                    <img src="~/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle thumb-sm">
                </a>
            </div><!--end pro-metrica-end--> *@
        </div>
        <!--end main-icon-menu-->

        <div class="main-menu-inner">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="https://drctstech.com/" class="logo">
                    <span>
                        <img src="~/assets/images/logos/drcts-dark-logo.png" alt="logo-large" class="logo-lg logo-light">
                        <img src="~/assets/images/logos/drcts-white-logo.png" alt="logo-large" class="logo-lg logo-light">
                    </span>
                </a><!--end logo-->
            </div><!--end topbar-left-->
            <!--end logo-->
            <div class="menu-body navbar-vertical tab-content" data-simplebar>
                <div id="DrctsDashboard" class="main-icon-menu-pane tab-pane" role="tabpanel"
                     aria-labelledby="dasboard-tab">
                    <div class="title-box">
                        <h6 class="menu-title">Dashboard</h6>
                    </div>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            @if (userTypeId == 1)
                            {             
                                <a class="nav-link" asp-action="AdminDashboard" asp-controller="Dashboard">Dashboard Analytics</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-action="EmployeeDashboard" asp-controller="Dashboard">Dashboard Analytics</a>                       
                            }
                        </li><!--end nav-item-->
                    </ul><!--end nav-->
                </div><!-- end Dashboards -->
                @if (userTypeId == 1)
                {
                    <div id="DrctsMaster" class="main-icon-menu-pane tab-pane" role="tabpanel" aria-labelledby="apps-tab">
                        <div class="title-box">
                            <h6 class="menu-title">Master</h6>
                        </div>
                        <div class="collapse navbar-collapse" id="sidebarCollapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#sidebarAnalytics" data-bs-toggle="collapse" role="button"
                                    aria-expanded="false" aria-controls="sidebarAnalytics">
                                        Shift & Location Master
                                    </a>
                                    <div class="collapse " id="sidebarAnalytics">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="#" asp-controller="Master">Office Location</a>
                                            </li><!--end nav-item-->
                                            <li class="nav-item">
                                                <a class="nav-link" asp-action="#" asp-controller="Master">Shift Master</a>
                                            </li><!--end nav-item-->
                                        </ul><!--end nav-->
                                    </div><!--end sidebarAnalytics-->
                                </li><!--end nav-item-->
                                <li class="nav-item">
                                    <a class="nav-link" href="#sidebarCrypto" data-bs-toggle="collapse" role="button"
                                    aria-expanded="false" aria-controls="sidebarCrypto">
                                        Assign Department
                                    </a>
                                    <div class="collapse " id="sidebarCrypto">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link"  asp-action="AssignManager" asp-controller="Assign">Assign Manager</a>
                                            </li><!--end nav-item-->
                                            <li class="nav-item">
                                                <a class="nav-link"  asp-action="AssignTeamLeader" asp-controller="Assign">Assign TeamLeader</a>
                                            </li><!--end nav-item-->
                                            <li class="nav-item">
                                                <a class="nav-link"  asp-action="AssignEmployee" asp-controller="Assign">Assign Employee</a>
                                            </li><!--end nav-item-->                                          
                                        </ul><!--end nav-->
                                    </div><!--end sidebarCrypto-->
                                </li><!--end nav-item-->
                            </ul><!--end nav-->                       
                        </div><!--end sidebarCollapse-->

                        <ul class="nav flex-column">                         
                            <li class="nav-item">
                                <a class="nav-link" asp-action="EmployeeMaster" asp-controller="Employee">Employee Master</a>
                            </li><!--end nav-item-->
                        </ul><!--end nav-->
                    </div><!-- end Master -->
                }
                else
                {
                    <div id="DrctsAttendance" class="main-icon-menu-pane tab-pane" role="tabpanel" aria-labelledby="uikit-tab">
                        <div class="title-box">
                            <h6 class="menu-title">Attendance</h6>
                        </div>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="AttendanceCalender" asp-controller="MarkAttendance">Calender</a>
                            </li><!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" asp-action="AttendanceData" asp-controller="MarkAttendance">Attendance Data</a>
                            </li><!--end nav-item-->
                        </ul><!--end nav-->
                    </div><!-- end Attendance -->
                }
                @if (userTypeId != 1)
                {
                    <div id="DrctsPayroll" class="main-icon-menu-pane tab-pane" role="tabpanel" aria-labelledby="pages-tab">
                        <div class="title-box">
                            <h6 class="menu-title">Payroll</h6>
                        </div>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="ApplyLeave" asp-controller="Payroll">Leave</a>
                            </li><!--end nav-item-->
                            <li class="nav-item">
                                <a class="nav-link" asp-action="#" asp-controller="Payroll">Pay Slip</a>
                            </li><!--end nav-item-->
                        </ul><!--end nav-->
                    </div><!-- end Payroll -->
                }
                @if (userTypeId == 1)
                {
                    <div id="DrctsPayroll" class="main-icon-menu-pane tab-pane" role="tabpanel" aria-labelledby="authentication-tab">
                        <div class="title-box">
                            <h6 class="menu-title">Report</h6>
                        </div>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-action="#" asp-controller="Report">Report Data</a>
                            </li><!--end nav-item-->
                        </ul><!--end nav-->
                    </div><!-- end Report -->
                }
            </div>
            <!--end menu-body-->
        </div><!-- end main-menu-inner-->
    </div>
    <!-- end leftbar-tab-menu-->
    <!-- Top Bar Start -->
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- Navbar -->
        <nav class="navbar-custom" id="navbar-custom">
            <ul class="list-unstyled topbar-nav float-end mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button"
                       id="notificationBell" aria-haspopup="false" aria-expanded="false">
                        <i class="ti ti-clock"></i> 
                        <!-- wrapper for date & time -->
                        <span class="clock-wrapper">
                            <span id="currentDate"></span>
                            <span id="currentTime"></span>
                        </span>
                        <span class="alert-clock-badge" id="alert-clock-badge"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0" id="notificationDropdown">
                        <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                          Mark Attendance <span class="badge bg-soft-primary badge-pill"></span>
                        </h6>
                        <div class="notification-menu" data-simplebar>
                            <!-- item-->
                            <!-- Punch In/Out Button -->
                            <div class="attendance-card">
                                <div class="attendance-stats">
                                    <div class="stat-box">
                                        <div class="stat-icon">🕐</div>
                                        <div class="stat-label">Clock-in</div>
                                        <div class="stat-value" id="clockInTime">--:--</div>
                                    </div>
                                    <div class="stat-box">
                                        <div class="stat-icon">🕐</div>
                                        <div class="stat-label">Clock-out</div>
                                        <div class="stat-value" id="clockOutTime">--:--</div>
                                    </div>
                                    <div class="stat-box">
                                        <div class="stat-icon">⏱️</div>
                                        <div class="stat-label">Total hours</div>
                                        <div class="stat-value" id="totalHours">--:--</div>
                                    </div>
                                </div>

                                <div class="attendance-action">
                                    <p>Mark Your Attendance</p>
                                    <div class="action-buttons">
                                        <button class="status-btn offline-btn" id="statusBtn">
                                            <span class="status-indicator status-red"></span>
                                            OFFLINE
                                        </button>
                                        <button class="tap-btn" id="tapBtn">
                                            <span class="tap-icon">👆</span>
                                            <span id="tapBtnText">Punch In</span>
                                        </button>
                                        <button class="status-btn timer-btn" id="timerBtn">00:00</button>
                                    </div>
                                </div>
                            </div>
                            <!--end-item-->
                           
                        </div>
                        <!-- All-->
                        <a asp-action="AttendanceData" asp-controller="MarkAttendance" class="dropdown-item text-center text-primary">
                            View all <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <div class="d-flex align-items-center">
                            @if (!string.IsNullOrEmpty(profilpic))
                            {
                                <img src="@profilpic" alt="profile-user" class="rounded-circle me-2 thumb-sm" />
                            }
                            else
                            {
                                <div class="rounded-circle me-2 short-name" title="user image">
                                    @shortName
                                </div>
                            }
                            <div>
                                <small class="d-none d-md-block font-11" id="urole"></small>
                                <span class="d-none d-md-block fw-semibold font-12" id="uname">
                                     <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <input type="hidden" id="cookiem" />
                        <input type="hidden" id="cookieuid" />
                        <a class="dropdown-item" asp-action="Profile" asp-controller="Home"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
                        @* <a class="dropdown-item" href="#"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i> Settings</a> *@
                        <div class="dropdown-divider mb-0"></div>
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Home"><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
                    </div>
                </li><!--end topbar-profile-->
                <li class="notification-list">
                    <a class="nav-link arrow-none nav-icon offcanvas-btn" href="#" data-bs-toggle="offcanvas" data-bs-target="#Appearance" role="button" aria-controls="Rightbar">
                        <i class="ti ti-settings ti-spin"></i>
                    </a>
                </li>
            </ul><!--end topbar-nav-->
            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                        <i class="ti ti-menu-2"></i>
                    </button>
                </li>
            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- Top Bar End -->
    <!-- Top Bar End -->


    <div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- container -->

            <!--Start Rightbar-->
            <!--Start Rightbar/offcanvas-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                    <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h6>Account Settings</h6>
                    <div class="p-2 text-start mt-3">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch1">
                            <label class="form-check-label" for="settings-switch1">Auto updates</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch2" checked>
                            <label class="form-check-label" for="settings-switch2">Location Permission</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="settings-switch3">
                            <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                        </div><!--end form-switch-->
                    </div><!--end /div-->
                    <h6>General Settings</h6>
                    <div class="p-2 text-start mt-3">
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch4">
                            <label class="form-check-label" for="settings-switch4">Show me Online</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="settings-switch5" checked>
                            <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                        </div><!--end form-switch-->
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="settings-switch6">
                            <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                        </div><!--end form-switch-->
                    </div><!--end /div-->
                </div><!--end offcanvas-body-->
            </div>
            <!--end Rightbar/offcanvas-->
            <!--end Rightbar-->

            <!-- Footer Start -->
            <footer class="footer text-center text-sm-start">
                &copy; <script>
                           document.write(new Date().getFullYear())
                </script> DRCTS <span class="text-muted d-none d-sm-inline-block float-end">
                    Crafted with <i class="mdi mdi-heart text-danger"></i> by DRCTS 
                </span>
            </footer>
            <!-- end Footer -->
            <!--end footer-->
        </div>
        <!-- end page content -->
    </div>
    <!-- ✅ Toast Container -->
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
        <div id="myToast" class="toast align-items-center border-0 shadow" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header d-flex align-items-center">
                <img src="~/assets/images/logos/drcts_logo.png" alt="logo" height="20" class="me-2">
                <strong class="me-auto">DRCTS</strong>
                <small class="text-muted">Just now</small>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body d-flex align-items-center">
                <i id="toastIcon" class="me-2"></i>
                <span id="toastMessage"></span>
            </div>
        </div>
    </div>
     <!-- end Toast-wrapper -->
    <!-- ✅ Loader Container -->
    <div class="loader hide">
        <div class="loader-wrapper">
            <span>
              <span></span><span></span><span></span><span></span>
            </span>
            <div class="base"><span></span></div>
            <div class="face"></div>
            <div class="loadinglogo">Loading...</div>
        </div>
        <div class="longfazers">
          <span></span><span></span><span></span><span></span>
        </div>
    </div>

    <!-- end page-wrapper -->

  <!-- CORE LIBRARIES (Load First) -->
<script src="~/js/jquery-3.6.4.min.js"></script>

<!-- Bootstrap requires jQuery -->
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- UI Enhancement Libraries -->
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/feather-icons/feather.min.js"></script>
<script src="~/assets/libs/mobius1-selectr/selectr.min.js"></script>
<script src="~/assets/js/pages/forms-advanced.js"></script>

<!-- DATA TABLE LIBRARIES -->
<script src="~/assets/js/jquery.datatables.min.js"></script>
<script src="~/assets/libs/tabulator-tables/js/tabulator.min.js"></script><!-- Buttons extension -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>

<!-- CSV / Excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

<!-- PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>


<!-- CALENDAR LIBRARY -->
<script src="~/assets/libs/fullcalendar/main.min.js"></script>

<!-- THEME/APP INITIALIZATION (Before page-specific scripts) -->
<script src="~/assets/js/app.js"></script>

<!-- Cookie utilities -->
<script src="~/js/auth/cookie.js"></script>

<!-- Common utilities -->
<script src="~/assets/js/pages/toast.init.js"></script>
<script src="~/js/common/default_toaster.js"></script>

<!-- Page-specific functionality -->
<script src="~/js/attendance/markattendance.js"></script>

</body>
<!--end body-->
</html>
