@model HR_Payroll.Core.Model.Auth.LoginModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login - DRCTS - Payroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Login" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    
    <link href="~/assets/css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="overlay">
        <div class="ncard">

            <div class="left">
                <img class="illustration" src="~/assets/images/login_illustrator2.png" alt="illustration" />

            </div>

            <div class="right">

                <svg class="curve" viewBox="0 0 800 600" preserveAspectRatio="none">
                    <defs>
                        <linearGradient id="g1" x1="0" x2="1">
                            <stop offset="0%" stop-color="#005a6f" stop-opacity="0.85" />
                            <stop offset="100%" stop-color="#00448b" stop-opacity="0.85" />
                        </linearGradient>
                    </defs>
                    <path d="M0,200 C150,100 350,320 500,200 C650,80 900,260 1000,200 L1000,0 L0,0 Z" fill="url(#g1)"></path>
                </svg>

                <div class="brand">
                    <div class="logo"><img src="~/assets/images/logos/drcts_logo.png" height="30" alt="logo" class="auth-logo"></div>
                    <div>
                        <h1>Login</h1>
                        <p>Sign in to manage your profile and attendance</p>
                    </div>
                </div>

                <form id="loginForm" autocomplete="on">
                    <label>Email</label>
                    <input class="input" type="email" id="username" name="username" placeholder="Enter username" value="@Model.Username" required />

                    <label>Password</label>
                    <div class="pass-wrap" style="position:relative;">
                        <input id="userpassword" class="input" type="password" placeholder="Enter password" value="@Model.Password" required />
                        <span id="togglePwd" >👁️</span>
                    </div> 
                     <div style="display:flex;justify-content:space-between;margin-top:4px">
                        <label style="font-size:13px"><input type="checkbox" id="rememberMe" value="true" @(Model.RememberMe ? "checked" : "") /> Remember me</label>
                        @* <a asp-action="ForgotPassword" asp-controller="Home">Forgot password?</a> *@
                    </div> 

                    <button class="btn" id="submitbtn" type="button">Sign In<i class="fas fa-sign-in-alt ms-1"></i></button>

                    <!-- <div class="help">
                      <span>Don't have access? <a href="#">Request access</a></span>
                      <span>Need help? <a href="#">Contact IT</a></span>
                    </div> -->
                </form>

                <div class="credits">© <span id="year"></span> @ViewBag.CompanyName</div>
            </div>

        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
        <div id="myToast" class="toast align-items-center border-0 shadow" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header d-flex align-items-center">
                <img src="~/assets/images/logos/drcts_logo.png" alt="logo" height="20" class="me-2">
                <strong class="me-auto">DRCTS</strong>
                <small class="text-muted">Just now</small>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body d-flex align-items-center">
                <i id="toastIcon" class="me-2"></i>
                <span id="toastMessage"></span>
            </div>
        </div>
    </div>

    <!-- Javascript  -->
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <!-- vendor js -->
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/pages/toast.init.js"></script>
    <!-- Custom js -->
    <script src="~/js/common/default_toaster.js"></script>
    <script src="~/js/auth/login.js"></script>
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>
