
@{
    ViewData["Title"] = "AttendanceCalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Allow wrapping of event text */
    .fc-daygrid-event {
        white-space: normal !important;
        overflow-wrap: break-word !important;
        line-height: 1.1 !important;
    }

</style>
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">DRCTS</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item">
                        <a href="#">Attendance</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item active">Calendar</li>
                </ol>
            </div>
            <h4 class="page-title">Attendance Calendar</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <img src="~/assets/images/small/calendar.svg" alt="" class="img-fluid">

                <!-- 🔥 Dynamic Attendance Details Box -->
                <ul class="list-group" id="attendanceDetailsBox">
                    <li class="list-group-item text-center text-muted">
                        Click any day on the calendar to see details here
                    </li>
                </ul>

            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div id='calendar'></div>
                <div style='clear:both'></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!-- End row -->

<!-- Javascript  -->
<script src="~/js/jquery-3.6.4.min.js"></script>
<script src="~/assets/js/pages/calendar.init.js"></script>
<script src="~/js/attendance/attendance_calender.js"></script>

